<div class="col-xs-10 col-xs-offset-1 col-sm-6 col-md-4 col-sm-offset-0">
  {{#link-to "galleries.gallery" category.id class="small-break no-deco"}}
    <img src="{{category.pic}}" class="img-responsive">
    <h5 class="small-break">{{category.title}}</h5>
    <p class="text-center">{{category.description}}</p>
  {{/link-to}}
</div>
