{{#link-to "galleries.gallery" gallery.id class="small-break no-deco"}}
  <img src={{gallery.pic}} class="img-responsive">
  <h5 class="small-break">{{gallery.title}}</h5>
  <p class="text-center">{{gallery.description}}</p>
{{/link-to}}
