<li>
  <a class="soc-mail" href="mailto:marta.wilk.photo@gmail.com">
    <img src="http://martawilkphotography.com/img/mail2.png" alt="" class="socico img-responsive">
  </a>
</li>
<li>
  <a class="soc-facebook" href="https://www.facebook.com/martawilkphotography" target="_blank" rel="noopener">
    <img src="http://martawilkphotography.com/img/facebook-48.png" alt="" class="socico img-responsive">
  </a>
</li>
<li>
  <a class="soc-instagram soc-icon-last" href="https://instagram.com/marta_wilk_photography/" target="_blank" rel="noopener">
    <img src="http://martawilkphotography.com/img/instagram-48.png" alt="" class="socico img-responsive">
  </a>
</li>
