<section class="content-section">
	<div class="container">
		<div class="row">
			<div class="col-sm-offset-2 col-sm-8">
				<div class="about">
					<img src="http://martawilkphotography.com/img/martawilk.jpg" class="img-circle about__text_wrapped img-responsive">
					<p class="about__text">Mein Name ist Marta, ich bin Mutter von zwei Kindern und lebe seit 2009 in Berlin. Meine Leidenschaft ist die Fotografie und meine ersten Modelle waren meine beiden Töchter. Kinder stellen eine große Inspiration für meine künstlerische Arbeit und meine ständige Weiterbildung in diesem Bereich dar.</p>
					<p class="about__text">Mit großer Freude fotografiere ich Neugeborene, Kinder, Familien, werdende Mütter mit Babybauch, Paare und führe Portraitsessions durch. Ich würde mich auch freuen, Dich zu treffen!</p>
				</div>
			</div>
		</div>
	</div>
</section>

{{outlet}}
